<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User Keys</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="../static/signIn.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
            {%if userName%}
                <input  name= "userName" id="userName" value={{ userName }} hidden>
                <h3 class="text-muted" style="color:black">Hello {{ userName }}!</h3>
            {%else%}
                <h3 class="text-muted" style="color:black">Hello User!</h3>
            {%endif%}
        </div>

        <div class="jumbotron">
            <h2>Enter Key Details</h2>
            <form class="form-signin" id="addKeyForm" action="#">
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label style="padding-top:10px">Key<span style="color:red">*</span></label>
                    </div>
                    <div class="col-sm-6">
                        <input style="align:left" type="key" name="key" id="key" class="form-control" placeholder="key" required autofocus maxlength="30">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label style="padding-top:10px">password<span style="color:red">*</span></label>
                    </div>
                    <div class="col-sm-6">
                        <input style="align:left" type="password" name="password" id="password" class="form-control" placeholder="password" required autofocus maxlength="30">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label style="padding-top:10px">KeyHint</label>
                    </div>
                    <div class="col-sm-6">
                        <input style="align:left" type="keyHint" name="keyHint" id="keyHint" class="form-control" placeholder="keyHint" required autofocus maxlength="45">
                    </div>
                </div>
                <br>
                 <div class="row">
                    <div class="col-sm-6">
                        <button id="btnAddKey" class="btn btn-md btn-success btn-block" type="button">AddKey</button>
                    </div>
                    <div class="col-sm-6">
                        <button id="btnResetAddKeyForm" class="btn btn-md btn-primary btn-block" type="button">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>