<!DOCTYPE html>
<html lang="en">
<head>
  <title>Keystore Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link href="../static/index.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="jumbotron">
    <div class="row">
        <div class="col-sm-9">
            <a class="btn btn-lg btn-success" style="float:right;" role="button" href="showRegister">Register</a>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-lg btn-success" style="float:left" role="button" href="showSignIn">Sign In</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="container" style="height:350px">
          <h1>Keystore</h1>
          <p>All your passwords at one place</p>
    </div>

</div>

</body>
</html>