<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="../static/signIn.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <nav>
                {% if userName %}
                    {% set url = "/showAddUserKeys/" + userName %}
                {% endif %}
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href={{url}}>Add Key</a></li>
                    <li role="presentation" ><a href="/">Logout</a></li>
                </ul>
            </nav>
            {% if userName %}
                <h3 class="text-muted" style="color:black">Hello {{ userName }} !</h3>
            {% else %}
                <h3 class="text-muted" style="color:black">Homepage</h3>
            {% endif %}

            <div class="jumbotron-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Key</label>
                    </div>
                    <div class="col-sm-3">
                        <label>Hint</label>
                    </div>
                    <div class="col-sm-3">
                        <label hidden>Password</label>
                    </div>
                    <div class="col-sm-1">
                        <label hidden>Passwordsalt</label>
                    </div>
                    <div class="col-sm-2">
                        <label hidden>PasswordHash</label>
                    </div>
                </div>
                <br>
                {% for item in data %}
                <div class="row">
                    <div class="col-sm-3">{{item[2]}}</div>
                    <div class="col-sm-3">{{item[5]}}</div>
                    <div class="col-sm-3">
                        <button type="button" value={{item[2]}}>show Password</button>
                    </div>
                    <div class="col-sm-1" hidden>{{item[4]}}</div>
                    <div class="col-sm-2" hidden>{{item[3]}}</div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</body>
</html>