<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="../static/signIn.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <nav>
                {% if userName %}
                    {% set url = "/showAddUserKeys"  %}
                {% endif %}
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href={{url}}>Add Key</a></li>
                    <li role="presentation" ><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            {% if userName %}
                <h3 class="text-muted" style="color:black">Hello {{ userName }} !</h3>
            {% else %}
                <h3 class="text-muted" style="color:black">Homepage</h3>
            {% endif %}

            <div class="jumbotron">
                <h3> Here are all your keys</h3>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <div class="col-sm-3">
                                <th>Key</th>
                            </div>
                            <div class="col-sm-3">
                                <th>user</th>
                            </div>
                            <div class="col-sm-3">
                                <th>Password</th>
                            </div>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr class="passwordRow">
                            <div class="col-sm-3">
                                <th>{{item[2]}}</th>
                            </div>
                            <div class="col-sm-3">
                                <th>{{item[5]}}</th>
                            </div>
                            <div class="col-sm-3">
                                <th><button class="showPasswordBtn">Show Password</button></th>
                            </div>
                            <div class="col-sm-3">
                                <th hidden class="UserPassword">{{item[6]}}</th>
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% set i = 0 %}
            </div>
        </div>

    </div>
</body>
</html>